.add-todo-container {
    display: flex;
    background: lightcoral;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;

    div {
        height: 2rem;
        width: 77%;
        input {
            border: none;
            width: 100%;
            height: 95%;
        }
    }

    button {
        height: 2rem;
        width: 20%;
        background: white;
        border: none;
    }
}